EDA + feature engineering

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("gold_macro_features.csv")
df["Date"] = pd.to_datetime(df["Date"])
df = df.sort_values("Date").reset_index(drop=True)

df.head()

,Date,gold,dxy,crude,us10y,sp500,gold_ret,dxy_ret,crude_ret,us10y_ret,sp500_ret,gold_vol_30d,gold_ma20,gold_ma50,gold_peak,gold_drawdown
0,2021-01-05,182.869995,89.440002,49.930000,0.955,3726.860107,0.002957,-0.004907,0.047369,0.040604,0.007058,NaN,NaN,NaN,182.869995,0.000000
1,2021-01-06,179.899994,89.529999,50.630001,1.042,3748.139893,-0.016374,0.001006,0.013922,0.087186,0.005694,NaN,NaN,NaN,182.869995,-0.016241
2,2021-01-07,179.479996,89.830002,50.830002,1.071,3803.790039,-0.002337,0.003345,0.003942,0.027451,0.014738,NaN,NaN,NaN,182.869995,-0.018538
3,2021-01-08,173.339996,90.099998,52.240002,1.105,3824.679932,-0.034809,0.003001,0.027362,0.031253,0.005477,NaN,NaN,NaN,182.869995,-0.052114
4,2021-01-11,173.000000,90.540001,52.250000,1.132,3799.610107,-0.001963,0.004872,0.000191,0.024141,-0.006576,NaN,NaN,NaN,182.869995,-0.053973

In [2]:
print(df.shape)
df.isna().sum().sort_values(ascending=False).head(20)

(1290, 16)

gold_ma50        49
gold_vol_30d     29
gold_ma20        19
Date              0
gold              0
dxy               0
crude             0
us10y             0
sp500             0
gold_ret          0
dxy_ret           0
crude_ret         0
us10y_ret         0
sp500_ret         0
gold_peak         0
gold_drawdown     0
dtype: int64

In [4]:
base_cols = ["gold","dxy","crude","us10y","sp500"]
feat_df = df[["Date"] + base_cols].copy()

In [5]:
for c in base_cols:
    feat_df[f"{c}_ret"] = np.log(feat_df[c] / feat_df[c].shift(1))

feat_df = feat_df.dropna().reset_index(drop=True)
feat_df.head()

,Date,gold,dxy,crude,us10y,sp500,gold_ret,dxy_ret,crude_ret,us10y_ret,sp500_ret
0,2021-01-06,179.899994,89.529999,50.630001,1.042,3748.139893,-0.016374,0.001006,0.013922,0.087186,0.005694
1,2021-01-07,179.479996,89.830002,50.830002,1.071,3803.790039,-0.002337,0.003345,0.003942,0.027451,0.014738
2,2021-01-08,173.339996,90.099998,52.240002,1.105,3824.679932,-0.034809,0.003001,0.027362,0.031253,0.005477
3,2021-01-11,173.000000,90.540001,52.250000,1.132,3799.610107,-0.001963,0.004872,0.000191,0.024141,-0.006576
4,2021-01-12,174.119995,90.050003,53.209999,1.138,3801.189941,0.006453,-0.005427,0.018206,0.005286,0.000416

In [6]:
feat_df["gold_vol_30d"] = feat_df["gold_ret"].rolling(30).std() * np.sqrt(252)
feat_df["gold_ma20"] = feat_df["gold"].rolling(20).mean()
feat_df["gold_ma50"] = feat_df["gold"].rolling(50).mean()
feat_df["gold_peak"] = feat_df["gold"].cummax()
feat_df["gold_drawdown"] = (feat_df["gold"] / feat_df["gold_peak"]) - 1

In [7]:
lags = [1, 5, 10, 21]

for L in lags:
    feat_df[f"gold_ret_lag{L}"] = feat_df["gold_ret"].shift(L)
    feat_df[f"dxy_ret_lag{L}"]  = feat_df["dxy_ret"].shift(L)
    feat_df[f"us10y_ret_lag{L}"] = feat_df["us10y_ret"].shift(L)

feat_df = feat_df.dropna().reset_index(drop=True)
feat_df.head()

,Date,gold,dxy,crude,us10y,sp500,gold_ret,dxy_ret,crude_ret,us10y_ret,...,us10y_ret_lag1,gold_ret_lag5,dxy_ret_lag5,us10y_ret_lag5,gold_ret_lag10,dxy_ret_lag10,us10y_ret_lag10,gold_ret_lag21,dxy_ret_lag21,us10y_ret_lag21
0,2021-03-18,162.559998,91.849998,60.000000,1.730,3915.459961,-0.005827,0.004911,-0.073870,0.052816,...,0.012263,-0.000866,-0.004039,0.004595,-0.009886,0.007449,0.052992,-0.011418,0.004850,0.001538
1,2021-03-19,163.240005,91.919998,61.419998,1.732,3913.100098,0.004174,0.000762,0.023391,0.001155,...,0.052816,-0.000186,0.002840,0.068338,0.000629,0.003812,0.002577,-0.000060,-0.003966,-0.010819
2,2021-03-22,163.000000,91.800003,61.549999,1.684,3940.590088,-0.001471,-0.001306,0.002114,-0.028105,...,0.001155,0.004387,0.001635,-0.017274,-0.010422,0.003581,0.026668,0.004140,-0.002542,0.044080
3,2021-03-23,161.809998,92.339996,57.759998,1.638,3910.520020,-0.007327,0.005865,-0.063553,-0.027696,...,-0.028105,0.000924,0.000436,0.008674,0.021048,-0.003799,-0.031830,0.014858,-0.003881,0.018417
4,2021-03-24,162.369995,92.529999,61.180000,1.614,3889.139893,0.003455,0.002056,0.057524,-0.014760,...,-0.027696,0.007120,-0.005129,0.012263,0.005085,-0.001850,-0.016961,-0.002303,0.001776,-0.005857

In [8]:
feat_df["target_next_gold_ret"] = feat_df["gold_ret"].shift(-1)
feat_df = feat_df.dropna().reset_index(drop=True)

feat_df[["Date","gold_ret","target_next_gold_ret"]].tail()

           Date  gold_ret  target_next_gold_ret
1234 2026-02-17 -0.031666              0.022241
1235 2026-02-18  0.022241              0.002789
1236 2026-02-19  0.002789              0.019523
1237 2026-02-20  0.019523              0.026657
1238 2026-02-23  0.026657             -0.013956

In [9]:
feat_df.to_csv("model_features.csv", index=False)
print("Saved: model_features.csv")

Saved: model_features.csv